<!--suppress HtmlUnknownTag -->
<md-card>
  <md-card-title>
    <md-card-title-text>
      <md-headline><h4>Enter your mobile no.</h4></md-headline>
    </md-card-title-text>
  </md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <div layout="column" layout-align="center center">
      <md-input-container>
        <label>Mobile No.</label>
        <input type="text"
               id="mobile"
               ng-model="user.mobile"
               ng-change="mobileChange()"
               ng-keypress="mobileKeyPress($event)"
               required
               md-maxlength="10"
               maxlength="10"
               title="Mobile No.">
      </md-input-container>
    </div>
  </md-card-content>
  <md-divider></md-divider>
  <md-button class="md-primary" ng-click="register()">Register</md-button>
</md-card>